<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All Kexts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HWMonitor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SmartGuardian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D05ABE313ED0DAD00EADBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D05AC2113ED100D00EADBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D05AC5A13ED123D00EADBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D05AC7513ED131B00EADBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6FE3BA13FEBDA700376E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6FE3ED13FEBFF200376E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D9F831D144FF24000EEEFEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DA9620413ED30E40096F8A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DA9622213ED331D0096F8A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DA9623F13ED34070096F8A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DA962A413ED36030096F8A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CB03FAC14EB99F50070DC93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CB6913114F40F2900152814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CB6914E14F40F2A00152814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A0F327414DD6A6800AA5598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A85F85214DBEF5000F863A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
