<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_Name}</string>
	<key>CFBundleIdentifier</key>
	<string>org.mozodojo.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Nuvoton NCT677x Monitor Plugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.mozodojo.${PRODUCT_NAME}</string>
			<key>IOClass</key>
			<string>NCT677x</string>
			<key>IOMatchCategory</key>
			<string>SuperIOMonitor</string>
			<key>IOProviderClass</key>
			<string>FakeSMC</string>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
			<key>Sensors Configuration</key>
			<dict>
				<key>ASUS</key>
				<dict>
					<key>P8P67 PRO</key>
					<dict>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>TEMPIN3</key>
						<string>System</string>
						<key>TEMPIN4</key>
						<string></string>
						<key>TEMPIN5</key>
						<string></string>
						<key>TEMPIN6</key>
						<string></string>
						<key>TEMPIN7</key>
						<string></string>
						<key>TEMPIN8</key>
						<string></string>
						<key>FANIN0</key>
						<string>CPU Fan</string>
						<key>FANIN1</key>
						<string>Power Fan</string>
						<key>FANIN2</key>
						<string>Chassis Fan #2</string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Ri</key>
							<integer>1100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Ri</key>
							<integer>1200</integer>
							<key>Rf</key>
							<integer>300</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>P8P67 EVO</key>
					<dict>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>TEMPIN3</key>
						<string>System</string>
						<key>TEMPIN4</key>
						<string></string>
						<key>TEMPIN5</key>
						<string></string>
						<key>TEMPIN6</key>
						<string></string>
						<key>TEMPIN7</key>
						<string></string>
						<key>TEMPIN8</key>
						<string></string>
						<key>FANIN0</key>
						<string>CPU Fan</string>
						<key>FANIN1</key>
						<string>Power Fan</string>
						<key>FANIN2</key>
						<string>Chassis Fan #2</string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Ri</key>
							<integer>1100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Ri</key>
							<integer>1200</integer>
							<key>Rf</key>
							<integer>300</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>P8P67</key>
					<dict>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>TEMPIN3</key>
						<string>System</string>
						<key>TEMPIN4</key>
						<string></string>
						<key>TEMPIN5</key>
						<string></string>
						<key>TEMPIN6</key>
						<string></string>
						<key>TEMPIN7</key>
						<string></string>
						<key>TEMPIN8</key>
						<string></string>
						<key>FANIN0</key>
						<string>CPU Fan</string>
						<key>FANIN1</key>
						<string>Power Fan</string>
						<key>FANIN2</key>
						<string>Chassis Fan #2</string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Ri</key>
							<integer>1100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Ri</key>
							<integer>1200</integer>
							<key>Rf</key>
							<integer>300</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>P8P67-M PR</key>
					<dict>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string></string>
						<key>TEMPIN3</key>
						<string>System</string>
						<key>TEMPIN4</key>
						<string></string>
						<key>TEMPIN5</key>
						<string></string>
						<key>TEMPIN6</key>
						<string></string>
						<key>TEMPIN7</key>
						<string></string>
						<key>TEMPIN8</key>
						<string></string>
						<key>FANIN0</key>
						<string>Chassis Fan #1</string>
						<key>FANIN1</key>
						<string>CPU Fan</string>
						<key>FANIN2</key>
						<string>Chassis Fan #2</string>
						<key>FANIN3</key>
						<string>Power Fan</string>
						<key>FANIN4</key>
						<string>Auxiliary Fan</string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Ri</key>
							<integer>1100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Ri</key>
							<integer>1200</integer>
							<key>Rf</key>
							<integer>300</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>P8Z68-V PRO</key>
					<dict>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>TEMPIN3</key>
						<string>System</string>
						<key>TEMPIN4</key>
						<string></string>
						<key>TEMPIN5</key>
						<string></string>
						<key>TEMPIN6</key>
						<string></string>
						<key>TEMPIN7</key>
						<string></string>
						<key>TEMPIN8</key>
						<string></string>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Ri</key>
							<integer>1100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Ri</key>
							<integer>400</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>P9X79</key>
					<dict>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string></string>
						<key>TEMPIN3</key>
						<string>System</string>
						<key>TEMPIN4</key>
						<string></string>
						<key>TEMPIN5</key>
						<string></string>
						<key>TEMPIN6</key>
						<string></string>
						<key>TEMPIN7</key>
						<string></string>
						<key>TEMPIN8</key>
						<string></string>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Ri</key>
							<integer>1100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Ri</key>
							<integer>400</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Ri</key>
							<integer>100</integer>
							<key>Rf</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<key>Default</key>
				<dict>
					<key>FANIN0</key>
					<string>System</string>
					<key>FANIN1</key>
					<string>CPU</string>
					<key>FANIN2</key>
					<string></string>
					<key>FANIN3</key>
					<string></string>
					<key>FANIN4</key>
					<string></string>
					<key>TEMPIN0</key>
					<string>System</string>
					<key>TEMPIN1</key>
					<string>CPU</string>
					<key>VIN0</key>
					<string>CPU</string>
					<key>VIN1</key>
					<string></string>
					<key>VIN2</key>
					<string>3VCC</string>
					<key>VIN3</key>
					<string>+5VC</string>
					<key>VIN4</key>
					<string>+12VC</string>
					<key>VIN5</key>
					<string></string>
					<key>VIN6</key>
					<string></string>
					<key>VIN7</key>
					<string>3VSB</string>
					<key>VIN8</key>
					<string>VBAT</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
		<key>org.netkas.FakeSMC</key>
		<string>4.2.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
